# Django version
Django==4.2.11

# Gunicorn (WSGI server)
gunicorn==23.0.0

# Static file handling
whitenoise==6.7.0

# PostgreSQL support
psycopg2-binary==2.9.10

# Database URL configuration
dj-database-url==3.1.2

# Environment variable management
python-dotenv==1.0.1

# Django REST Framework for APIs
djangorestframework==3.15.2

# Image handling
Pillow==10.4.0

# Data processing
pandas

# Excel file handling
openpyxl

# Barcode generation
python-barcode==0.14.0

# PDF generation
reportlab==3.6.12

# Django Filters for filtering in DRF
django-filter==23.2


# Any other dependencies that you might be using should also be included.